* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row > div {
    background-color: #006CFA;
    min-height: 50px;
    border: 1px solid #fff;
    line-height: 50px;
    color: #fff;
    text-align: center;
}