* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row > div {
    background-color: #006CFA;
    min-height: 50px;
    border: 1px solid #fff;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

.row > .row > div {
    background-color: #00E265;
    border: 1px solid #006CFA;
}

.row > .row {
    padding: 15px;
}

.margin-top {
    margin-top: 20px;
}